@charset "UTF-8";
/*=======GENERAL  Titulo Hover====*/
h1 {
  display: inline-block;
  position: relative;
}

h1::after,
h1::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 3px;
  background-color: green;
  top: 0.6em;
  transform: scale(0);
  transition: 0.2s all ease-in;
}

h1:hover::before,
h1:hover::after {
  transform: scale(1);
}

h1::before {
  left: -150px;
}

h1::after {
  right: -150px;
}

.name-main {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

/*=======GENERAL FONT FAMILY====*/
h1,
h2,
h3,
h4,
h5,
button,
.amiibo-name {
  font-family: 'Bitter', serif;
}

/* para despues :)
html {
    scroll-behavior: smooth;
}*/
footer {
  background: #1b2a4e;
  min-height: 100px;
}

footer p {
  color: #f3f3f3;
  text-align: center;
}

footer i {
  font-size: 26px;
  padding: 0 8px;
  color: #f3f3f3;
}

/*-----------------------INDEX-------------------*/
#navbar {
  z-index: 1;
}

#ribbon {
  background-color: #db1a1a;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 25px, rgba(131, 21, 21, 0.5) 25px, rgba(131, 21, 21, 0.5) 40px);
}

#ribbon::after {
  content: '';
  background-color: transparent;
  display: block;
  height: 20px;
  width: 50%;
  margin: 0 auto;
  position: relative;
  left: auto;
  margin-top: -40px;
}

#separator-ribbon {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

#separator-ribbon .content {
  background-image: url(../assets/fondo-bajo.jpg);
  width: 150%;
  height: 150px;
  margin-left: -25%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

#birthday {
  background-color: #db1a1a;
  position: relative;
  margin-top: -20px;
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#birthday img {
  position: relative;
  margin-top: -30px;
  object-fit: cover;
}

#games {
  background: white;
  background: linear-gradient(0deg, white 0%, #63c4ff 57%);
  background-repeat: repeat-x;
  background-size: 75%;
  margin-top: -20px;
}

.container-md h3 {
  color: #fff;
}

.card-border {
  border: solid 5px white;
  border-radius: 20px;
  overflow: hidden;
  transition: all ease-out 0.2s;
}

.card-border:hover {
  transform: scale(1.05);
}

.text-shadow {
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
}

#separator-amiibos {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

#separator-amiibos .content {
  background: url(../assets/bg-03.png);
  width: 110%;
  height: 100px;
  margin-left: -5%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  background-size: 100px;
}

#amiibos {
  background: url(../assets/bg-03.png);
  background-repeat: repeat;
  background-size: 100px;
}

.amiibo {
  cursor: pointer;
  transition: all ease-out 0.2s;
}

.amiibo:hover {
  transform: scale(1.05);
}

.amiibo-name {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  border-radius: 15px;
}

#play {
  background-color: #ffffdb;
}

.somoslp {
  background-image: linear-gradient(60deg, rgba(102, 99, 134, 0.281) 0%, rgba(175, 251, 152, 0.281) 100%), url(../assets/peñas-mar.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.nosotros-div {
  display: flex;
  margin-top: 50px;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.contenido-img {
  display: inline-flex;
  align-content: center;
  margin-bottom: 20px;
}

.contenido-img img {
  width: 320px;
  padding: 5px;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 20px;
}

.contenido-nosotros {
  display: inline-flex;
  width: 350px;
  flex-wrap: wrap;
}

/*----------------------CONTACTO-------------------*/
.main-contacto {
  background-color: #ffffdb;
}

.main-contacto .bg {
  background-image: url(../assets/TOORE-PIZA.jpg);
  background-position: center;
  background-size: cover;
}

/*---------------------TOURS NACIONAL E INTERNACIONAL-------------------*/
.main-font {
  background-color: #ffffdb;
}

/*CARDS*/
.conteiner {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  background: #0051ff;
  width: 350px;
  margin: 30px 40px;
  border-radius: 15px;
  justify-content: space-between;
  border: 1px solid #000;
}

.nacional {
  background-color: #fff;
}

.card-image {
  height: 170px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

.card-1 {
  background-image: url(../assets/lagotiticaca.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
}

.card-2 {
  background-image: url(../assets/nevadoperu.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
}

.card-3 {
  background-image: url(../assets/cerrode7colores.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
}

.card-4 {
  background-image: url(../assets/MACHUPICCHU.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
}

.card-5 {
  background-image: url(../assets/CRISTOREDENTOR.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
}

.card-6 {
  background-image: url(../assets/CHECHENITZA.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
}

.card-7 {
  background-image: url(../assets/MURALLACHINA.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
}

.card-8 {
  background-image: url(../assets/COLISEUM.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
}

.card-9 {
  background-image: url(../assets/TAJMAHAL.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
}

.card-10 {
  background-image: url(../assets/PETRA.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
}

.card h3 {
  padding-left: 10px;
}

.card a {
  background-color: #000;
  color: #fff;
  padding: 15px 20px;
  display: block;
  text-align: center;
  margin: 20px 50px;
  border-radius: 10px;
}

.card:hover {
  background-color: #3e3e3e;
  color: #fff;
  cursor: pointer;
  transform: scale(1.03);
  transition: all 1s ease;
}

.card a:hover {
  color: rgba(29, 226, 62, 0.842);
}

/*---------------------BLOGGGG-------------------*/
.main-blog {
  background-color: #ffffdb;
}
/*# sourceMappingURL=style.css.map */