/*=======GENERAL FONDO Y ANIMACION D´ TITULO====*/

.name-main {
    background-image: linear-gradient(to right, #434343 0%, $color3 100%);

    h1 {
        display: inline-block;
        position: relative;
    }

    h1::after,
    h1::before {
        content: "";
        position: absolute;
        width: 140px;
        height: 2px;
        background-color: $color6;
        top: 0.6em;
        transform: scale(0);
        transition: 0.2s all ease-in;
    }

    h1:hover::before,
    h1:hover::after {
        transform: scale(1);
    }

    h1::before {
        left: -150px;
    }

    h1::after {
        right: -150px;
    }
}