.botones {
    background-color: $color3;
    color: $color4;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    border-radius: 10px;
    border: none;

    &:hover {
        color: $colorGreen;
        text-align: center;
    }
}


@each $clave,
$valor in $colores {
    .botones-#{$clave} {
        background-color: $valor;
    }
}