 .card {
    background-color: map-get($card ,colorFondo);
    width: map-get($card ,ancho );
    margin: map-get($card ,margenes);
    border-radius: map-get($card,formaBorde);
    justify-content: map-get($card, justificado);
    border: map-get($card,bordes);
    

    .card-image {
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    h3 {
    padding-left: 10px;
}
}

&:hover {
    background-color: $color2;
    color: $color4;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}
button {
    @extend .botones;
}
}
