/*----------------------CONTACTO-------------------*/


.main-contacto {
    background-color: $colorBeige;
    .bg {
    background-image: url(../assets/TOORE-PIZA.jpg);
    background-position: center ;
    background-size: cover;
}
}