/*----------------------QUIENES SOMOS-------------------*/

.somoslp {
    background: $colorBeige;
    background-position: center;
    background-attachment: fixed;

    .nosotros-div {
        @include flexPropiedades(wrap, space-evenly, center);
        margin-top: 50px;
        width: 100%;

        .contenido-img {
            display: inline-flex;
            align-content: center;
            margin-bottom: 20px;

            img {
                width: 320px;
                padding: 5px;
                margin: 0 auto;
                object-fit: cover;
                border-radius: 20px;
            }
        }

        .contenido-nosotros {
            display: inline-flex;
            width: 350px;
            flex-wrap: wrap;
        }
    }

    button {
        @extend .botones;
    }
}