
/*-----------------IMPORT-----------------*/

@mixin flexPropiedades ($contenido,$justificado,$centrado) {
    display: flex ;
    flex-wrap: $contenido;
    justify-content: $justificado;
    align-items: $centrado;
}


@import "variables";
@import "button";
@import "cards";
@import "estilosGeneral";
@import "animacionestitle";
@import "paginaPrincipal";
@import "nosotros";
@import "tour";
@import "contactar";
@import "blogpost";





















